@include('emails/layouts/header')
 
<h3>Fala aí, beleza?</h3>

<p>Muito obrigado pela sua inscrição. </p>
<p>Em breve entrarei em contato com mais informações sobre o próximo grupo de Mentoria de importação de carros, motos e autocaravanas da União Europeia para Portugal.</p> 

<br />
@include('emails/layouts/footer')