@include('emails/layouts/header')
 
<h3>Fala aí, beleza?</h3>

<p>Muito obrigado pela inscrição. </p>
<p>Em breve entrarei em contato com as informações sobre o próximo grupo de Mentoria sobre importação de carros da União Européia para Portugal. </p>

<br />
@include('emails/layouts/footer')