@include('emails/layouts/header')
 
<h3>Fala aí, beleza?</h3>

<p>Muito obrigado pelo seu interesse no {{ description }}. </p>
<p>Em breve entraremos em contato com você. </p>

<p>Comentário: {{ comments}}</p>

<br />
@include('emails/layouts/footer')